In [46]:
# data 불러오기 
import pandas as pd

employment_data = pd.read_excel('../dataset/거시경제지표/고용률.xlsx')
GDP_data = pd.read_excel('../dataset/거시경제지표/국내총생산.xlsx')
economysc_data = pd.read_excel('../dataset/거시경제지표/동행경기종합지수.xlsx')
consumeprc_data = pd.read_excel('../dataset/거시경제지표/소비자물가지수.xlsx')
migrationpop_data = pd.read_excel('../dataset/거시경제지표/순이동인구수(고양시).xlsx')
bankloan_data = pd.read_excel('../dataset/거시경제지표/예금은행대출금액.xlsx')

C:\Users\USER\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [48]:
# 데이터셋 행/열 전환 및 컬럼 재설정
# 고용률 데이터셋
employment_data = employment_data.transpose()
employment_data = employment_data.iloc[4:]
employment_data = employment_data.reset_index()

employment_data.columns = ['year', 'employment_rate(%)']

# 국내총생산 데이터셋
GDP_data = GDP_data.transpose()
GDP_data = GDP_data.iloc[1:]
GDP_data = GDP_data.reset_index()

GDP_data.columns = ['year', 'GDP(won)']

# 동행경기종합지수 데이터셋
economysc_data = economysc_data.transpose()
economysc_data = economysc_data.iloc[4:]
economysc_data = economysc_data.reset_index()

economysc_data.columns = ['year', 'economysc']

# 소비자물가지수 데이터셋
consumeprc_data = consumeprc_data.transpose()
consumeprc_data = consumeprc_data.iloc[4:]
consumeprc_data = consumeprc_data.reset_index()

consumeprc_data.columns = ['year', 'consumeprc']

# 순이동인구수(고양시) 데이터셋
migrationpop_data = migrationpop_data.iloc[1:, 1:]
migrationpop_data = migrationpop_data.transpose()
migrationpop_data = migrationpop_data.reset_index()
migrationpop_data.columns = ['year', 'migrationpop']

# 예금은행대출금액 데이터셋
bankloan_data = bankloan_data.transpose()
bankloan_data = bankloan_data.iloc[1:]
bankloan_data = bankloan_data.reset_index()
bankloan_data.columns = ['year', 'bankloan(1bw)']

In [52]:
dfs = [employment_data, GDP_data, economysc_data, consumeprc_data, migrationpop_data, bankloan_data]
df_merge = pd.concat(dfs, axis=1, join='inner')

df_merge

,year,employment_rate(%),year,GDP(won),year,economysc,year,consumeprc,year,migrationpop,year,bankloan(1bw)
0,2012,59.6,2012,1514736.6,2012/12,92,2012,106.3,2012,4562.0,2012,1099781.8
1,2013,59.8,2013,1562673.6,2013/12,95.2,2013,107.68,2013,16836.0,2013,1154760.3
2,2014,60.5,2014,1612717.5,2014/12,97.9,2014,109.06,2014,11820.0,2014,1250103.3
3,2015,60.5,2015,1658020.4,2015/12,102,2015,109.83,2015,16746.0,2015,1346815.8
4,2016,60.6,2016,1706880.3,2016/12,105.7,2016,110.89,2016,8188.0,2016,1424149.2
5,2017,60.8,2017,1760811.5,2017/12,109.2,2017,113.05,2017,-120.0,2017,1504333.3
6,2018,60.7,2018,1812005.4,2018/12,110.8,2018,114.72,2018,869.0,2018,1600280.5
7,2019,60.9,2019,1852666.4,2019/12,113.5,2019,115.16,2019,21089.0,2019,1698612.9
8,2020,60.1,2020,1836881.1,2020/12,114.4,2020,115.78,2020,12353.0,2020,1893716.2
9,2021,60.5,2021,1910745.0,2021/12,119.5,2021,118.67,2021,1266.0,2021,2050701.6

In [53]:
df_merge = df_merge.iloc[:,[0,1,3,5,7,9,11]]

df_merge

,year,employment_rate(%),GDP(won),economysc,consumeprc,migrationpop,bankloan(1bw)
0,2012,59.6,1514736.6,92,106.3,4562.0,1099781.8
1,2013,59.8,1562673.6,95.2,107.68,16836.0,1154760.3
2,2014,60.5,1612717.5,97.9,109.06,11820.0,1250103.3
3,2015,60.5,1658020.4,102,109.83,16746.0,1346815.8
4,2016,60.6,1706880.3,105.7,110.89,8188.0,1424149.2
5,2017,60.8,1760811.5,109.2,113.05,-120.0,1504333.3
6,2018,60.7,1812005.4,110.8,114.72,869.0,1600280.5
7,2019,60.9,1852666.4,113.5,115.16,21089.0,1698612.9
8,2020,60.1,1836881.1,114.4,115.78,12353.0,1893716.2
9,2021,60.5,1910745.0,119.5,118.67,1266.0,2050701.6

In [ ]:
# 컬럼 리스트 정리
col_name = list(df.columns)
print(col_name)
print(type(col_name))

In [ ]:
# csv로 저장
df.to_csv("../table/csv_table/economic_data_eda.csv",  # 경로
            sep = ",",  # 구분자
            columns =  col_name,  # 컬럼 이름 지정
            index = True)  # 행의 이름에 index 도 같이 내보냄